.custom-input,
.custom-textarea {
  input,
  textarea {
    border: 1px solid transparent;
    width: 100%;
    border-radius: 3px;
    padding: 12px 14px 13px;
    background-color: rgba(4, 20, 39, 0.15);
    font-family: $ptmono;
    font-size: 16px;
    line-height: 22px;
    color: $color-default-white;

    &::placeholder {
      color: $color-default-white;
      text-indent: 0;
      transition: text-indent 0.3s ease;
    }

    &:hover {
      box-shadow: 0 5px 10px 0 rgba(4, 24, 39, 0.5);
    }

    &:focus {
      outline: none;
      box-shadow: 0 5px 10px 0 rgba(4, 24, 39, 0.5);

      &::placeholder {
        color: transparent;
      }
    }
  }

  position: relative;
  margin-bottom: 20px;

  &__error {
    position: absolute;
    right: 0;
    bottom: 35px;

    color: #ff1553;

    opacity: 0;

    transition: opacity 0.3s ease;

    @media screen and (max-width: 767px) {
      bottom: 20px;
    }
  }

  &.is-invalid {
    input,
    textarea {
      border: 1px solid #ff1553;

      &:focus,
      &:hover {
        border: 1px solid rgba(#ff1553, 0.5);
      }
    }
  }

  &.is-valid {
    input {
      border: 1px solid #22b259;

      &:focus,
      &:hover {
        border: 1px solid rgba(#22b259, 0.5);
      }
    }
  }

  .input-message {
    position: absolute;
    left: 0;
    bottom: -22px;

    &.is-invalid {
      color: #ff0000;
    }

    &.is-valid {
      color: #15ab07;
    }
  }
}
