.custom-toggle {
  label {
    position: relative;
    padding: 0 0 0 36px;
    cursor: pointer;

    @include vp-1023 {
      padding: 0 0 0 25px;
    }

    @include vp-767 {
      width: 100%;
      padding: 0 0 0 31px;
    }
  }

  input {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;

    clip: rect(0 0 0 0);

    @include hover-focus {
      +.custom-toggle__icon {
        opacity: 0.4;
      }
    }

    @include active {
      +.custom-toggle__icon {
        opacity: 0.8;
      }
    }
  }

  &--checkbox {
    .custom-toggle__icon {
      position: absolute;
      top: calc(-9px + 50%);
      left: 9px;
      width: 15px;
      height: 15px;
      border: 1px solid $color-default-white;
      border-radius: 2px;

      @include vp-1023 {
        left: 0;
      }

      @include vp-767 {
        left: 5px;
      }
    }
  }

  input:checked+.custom-toggle__icon {
    &::before {
      content: "";
      position: absolute;
      top: 3px;
      right: 2px;
      background-image: url("../img/svg/arrow-checkbox.svg");
      background-repeat: no-repeat;
      width: 9px;
      height: 6px;
    }
  }

  &.is-invalid {
    label span {
      color: #ff1553;
    }
  }

  .input-message {
    position: absolute;
    left: 0;
    bottom: -30px;

    &.is-invalid {
      color: #ff0000;
    }

    &.is-valid {
      color: #15ab07;
    }
  }
}