.header {
  padding: 27px 0 40px;
  color: $alice-blue;
  background-image: linear-gradient(#041827 84.9%, rgba(255, 255, 255, 0));
  transition: $trans-cubic;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;

  @include vp-1023 {
    padding: 15px 0 28px;
    position: absolute;
  }

  @include vp-767 {
    padding: 11px 0 24px;
  }
}

.header__inner {
  display: flex;
  gap: 0 13.1%;
  align-items: center;

  @include vp-1023 {
    display: grid;

    gap: 0;
    grid-template-columns: 1fr 1fr;
  }
}

.header__contacts {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 121px;
  transition: $trans-cubic;

  @include vp-1023 {
    margin: 0 25px 0 0;
    gap: 0 30px;
    justify-content: end;
  }

  @include vp-767 {
    margin: 0 14px 0 0;
  }
}

.header__contacts-link {
  font-family: $ptmono;
  display: flex;
  align-items: center;
  gap: 0 15px;

  transition: $trans-default;

  @include vp-1023 {
    gap: 0;
    padding: 5px;
    transform: translateY(-3px);
  }

  @include vp-767 {
    transform: none;
  }

  @include hover-focus {
    color: $deep-sky-blue;
  }

  @include active {
    color: $color-default-white;
  }
}

.header__contacts-link span {
  line-height: 18px;

  @include vp-1023 {
    display: none;
  }
}

.header__btn {
  min-width: 160px;
  margin-left: 5px;

  @include hover-focus {
    color: $deep-sky-blue;
  }

  @include vp-1023 {
    display: none;
  }
}
