.main-footer {
  background-color: $black-pearl;
  padding: 49px 0 50px;

  @include vp-1023 {
    padding: 49px 0 65px;
  }

  @include vp-767 {
    padding: 35px 0 65px;
  }
}

.main-footer__wrapper {
  display: grid;
  grid-template-columns: 335px 460px 1fr;
  gap: 0 3.3%;

  @include vp-1023 {
    grid-template-columns: 1fr 1fr;
    gap: 0 4.3%;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
  }
}

.main-footer__logo {
  @include interactive;
  margin: 0 0 30px 0;

  @include vp-1023 {
    margin: 0;
  }
}

.main-footer__logo-image {
  @include vp-767 {
    transform: translateX(-4px);
  }
}

.main-footer__social-list {
  margin: 0;
  padding: 0 0 0 10px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0 15px;


  @include vp-1023 {
    gap: 0 25px;
  }

  @include vp-767 {
    padding: 0 0 0 3px;
  }
}

.main-footer__social {
  @include vp-1023 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-column: 1 / 3;
    margin: 0 0 39px 0;
  }

  @include vp-767 {
    flex-direction: column;
    gap: 20px 0;
    margin: 0 0 29px 0;
  }
}

.main-footer__social-link {
  color: $alice-blue;
  display: flex;
  padding: 5px;

  @include interactive;

  @include vp-1023 {
    padding: 0;
  }
}

.main-footer__sitemap {
  padding: 7px 0 0 0;

  h3 {
    margin: 0 0 22px;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);

    @include vp-1023 {
      margin: 0 0 20px;
    }

    @include vp-767 {
      margin: 0;
      color: $color-default-white;
    }
  }

  @include vp-1023 {
    padding: 0;
  }
}

.main-footer__navigation {
  grid-area: "navigation";
}

.main-footer__navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  column-count: 2;

  column-gap: 40px;

  @include vp-1023 {
    display: flex;
    flex-direction: column;
  }
}

.main-footer__navigation-item {
  max-width: 220px;
  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 60px;

    @include vp-1023 {
      margin-bottom: 5px;
    }
  }
}

.main-footer__navigation-link {
  font-family: $ptmono;
  transition: $trans-default;
  color: rgba(255, 255, 255, 0.7);

  &--adress {
    pointer-events: none;
    font-style: normal;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 19px;
  }

  @include hover-focus {
    color: $deep-sky-blue;
  }

  @include active {
    color: $silver;
  }
}

.main-footer__contacts-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 5px 0;
}
