.modal-form {
  max-width: 420px;

  h2 {
    margin: 0;
    font-weight: 400;
    font-size: 30px;
    line-height: 42px;
    color: $color-default-white;
  }

  p {
    margin: 0;
    font-family: $ptmono;
    font-size: 16px;
    line-height: 22px;
    color: $color-default-white;
  }
}

.modal-form__wrapper-input {
  textarea {
    padding: 22px 15px;

    @include vp-1023 {
      padding: 29px 15px 14px;
    }

    @include vp-767 {
      padding: 23px 14px 46px;
    }
  }
}

.modal-form__wrapper-checkbox {
  order: 5;

  span {
    font-family: $ptmono;
    opacity: 0.8;
    font-size: 14px;
    line-height: 16px;
    color: $color-default-white;
  }
}

.modal-form__content {
  display: grid;
  grid-template-columns: 1fr;
}

.modal-form__wrapper {
  margin: 40px 0 0 0;
}

.modal-form__button {
  margin: 0 0 17px 0;
  width: 100%;
  border: none;
  padding: 12px;
  background-color: $black-pearl;
  font-size: 16px;
  line-height: 19px;
}
